/*BODY*/

* {
    font-family: 'Oswald', sans-serif;
}

* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {
    margin: 50px;
    padding: 20px;
    width: 80%;
}*/

/*NAVBAR*/
.nav .navbar-nav {
    color: #28ABE3;
}

.navbar-default .navbar-nav > li > a {
   color: #28ABE3;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a {
  background-color: transparent;
}

/*logo*/
.logo {
    margin-left: 2%;
    padding-top: 30px;
    padding-bottom: 15px;
    height: 125px;
    max-width: 100%;
    background-color: #ffffff;
}

.page-header {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.name {
    margin-top: 0px;
}

.inline-block {
    display: inline-block;
    margin-right: 5px;
    max-width: 200px;
}

/*CONTENT - ABOUT ME*/
#about {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 6px solid #2e3192;
    border-bottom: 6px solid #2e3192;
    background-color: #ccdbe3;
    background-image: url('https://www.transparenttextures.com/patterns/always-grey.png');
}

.photo-me {
    height: 200px;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
}

.about {
    font-size: 18px;
}

/*PROJECTS*/
.projects {
    border-bottom: 6px solid #2e3192;
}

.webdev {
    text-align: center;
    font-size: 25px;
}

.hp-link {
    color: #28abe3;
    text-decoration: underline;
    font-size: 25px;
}

.hp-link-tag-line {
    color: #2e3192;
    font-size: 20px;
}

.hp-link-notes {
    font-size: 15px;
}

.writing {
    text-align: center;
    font-size: 25px;
}

.education {
    text-align: center;
    font-size: 25px;
}

a:hover {
    color: black;
}

i {

}

.fa fa-laptop {

}

.fa fa-pencil-square-o,
.fa fa-graduation-cap {
    width: 50px;
}


/*CONTENT - SKILLSET*/

#skillset {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.code-img {
    height: 200px;
    width: auto;
}

/*FOOTER*/
.footer {

}
.copyright {
    float: right;
}

@media screen and (min-width: 768px) {
    .project-img {
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .project-img {
        display: block;
        margin: 0 auto;
    }
}
